<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<h1 class="head1">
    <font color="red">R</font>
    <font color="yellow">e</font>
    <font color="blue">m</font>
    <font color="orange">y</font>
    <font color="green">a</font>
    <font color="brown">'</font>
    <font color="purple">s</font>
    <font color="violet">  A</font>
    <font color="navy">r</font>
    <font color="majanda">t</font>
    <font color="skyblue">G</font>
    <font color="lemon yello">a</font>
    <font color="dark green">l</font>
    <font color="pink">l</font>
    <font color="maroon;">a</font>
    <font color="greenyellow">r</font>
    <font color="cyan">y</font>
</h1>
<body>