<%- include('header'); -%>
<div class="profile">
        <div class="img">👦</div>
        <h1 style="color: rgb(253, 246, 246); font-size:30px;font-family: Georgia, 'Times New Roman', Times, serif;" >Hi...</h1>
            <h2 style="color: rgb(253, 246, 246);font-size:30px;font-family: Georgia, 'Times New Roman', Times, serif;"><%= user.name %></h2>
            <span style="color:rgb(250, 253, 250) ;font-size:20px;"><%= user.email %></span>
            <h1 class="welcomimg">Wellcome to<br>Remya's Art gallary</h1>
        <a href="/logout">Log Out</a>
    </div>
</div>
<%- include('footer'); -%>